<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Haerriz\GoogleShoppingFeed\Api\FeedProfileRepositoryInterface" type="Haerriz\GoogleShoppingFeed\Model\FeedProfileRepository" />
    <preference for="Haerriz\GoogleShoppingFeed\Api\FeedJobRepositoryInterface" type="Haerriz\GoogleShoppingFeed\Model\FeedJobRepository" />
    <preference for="Haerriz\GoogleShoppingFeed\Api\FeedLogRepositoryInterface" type="Haerriz\GoogleShoppingFeed\Model\FeedLogRepository" />
    <preference for="Haerriz\GoogleShoppingFeed\Api\Data\FeedProfileInterface" type="Haerriz\GoogleShoppingFeed\Model\FeedProfile" />
    <preference for="Haerriz\GoogleShoppingFeed\Api\Data\FeedJobInterface" type="Haerriz\GoogleShoppingFeed\Model\FeedJob" />
    <preference for="Haerriz\GoogleShoppingFeed\Api\Data\FeedLogInterface" type="Haerriz\GoogleShoppingFeed\Model\FeedLog" />
    <preference for="Haerriz\GoogleShoppingFeed\Api\GenerationOrchestratorInterface" type="Haerriz\GoogleShoppingFeed\Model\Generation\Orchestrator" />
    <preference for="Haerriz\GoogleShoppingFeed\Api\ArtifactManagerInterface" type="Haerriz\GoogleShoppingFeed\Model\Artifact\ArtifactManager" />
    <preference for="Haerriz\GoogleShoppingFeed\Api\ProductEligibilityPolicyInterface" type="Haerriz\GoogleShoppingFeed\Model\Product\EligibilityPolicy" />
    <preference for="Haerriz\GoogleShoppingFeed\Api\OfferIdentityResolverInterface" type="Haerriz\GoogleShoppingFeed\Model\Product\OfferIdentityResolver" />
    <preference for="Haerriz\GoogleShoppingFeed\Api\RowValidatorInterface" type="Haerriz\GoogleShoppingFeed\Model\Validation\GoogleShoppingRowValidator" />
    <preference for="Haerriz\GoogleShoppingFeed\Api\MappingCompilerInterface" type="Haerriz\GoogleShoppingFeed\Model\Mapping\Compiler" />
    <preference for="Haerriz\GoogleShoppingFeed\Api\TaxonomyRepositoryInterface" type="Haerriz\GoogleShoppingFeed\Model\Taxonomy\TaxonomyRepository" />
    <preference for="Haerriz\GoogleShoppingFeed\Api\FeedTemplateRegistryInterface" type="Haerriz\GoogleShoppingFeed\Model\Template\Registry" />
    <preference for="Haerriz\GoogleShoppingFeed\Api\ProductProviderInterface" type="Haerriz\GoogleShoppingFeed\Model\ProductProvider" />
    <preference for="Haerriz\GoogleShoppingFeed\Api\ProductTypeResolverInterface" type="Haerriz\GoogleShoppingFeed\Model\ProductTypeResolver" />
    <preference for="Haerriz\GoogleShoppingFeed\Api\ProductValueResolverInterface" type="Haerriz\GoogleShoppingFeed\Model\ProductValueResolver" />
    <preference for="Haerriz\GoogleShoppingFeed\Api\CredentialProviderInterface" type="Haerriz\GoogleShoppingFeed\Model\CredentialProvider" />
    <preference for="Haerriz\GoogleShoppingFeed\Api\ModifierPipelineInterface" type="Haerriz\GoogleShoppingFeed\Model\Modifier\Pipeline" />
    <preference for="Haerriz\GoogleShoppingFeed\Api\WriterInterface" type="Haerriz\GoogleShoppingFeed\Model\Writer\GoogleXml" />

    <!-- UI Component Grid Data Sources -->
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="haerriz_googleshoppingfeed_feed_listing_data_source" xsi:type="string">Haerriz\GoogleShoppingFeed\Model\ResourceModel\FeedProfile\Grid\Collection</item>
                <item name="haerriz_googleshoppingfeed_job_listing_data_source" xsi:type="string">Haerriz\GoogleShoppingFeed\Model\ResourceModel\FeedJob\Grid\Collection</item>
            </argument>
        </arguments>
    </type>

    <type name="Haerriz\GoogleShoppingFeed\Model\ResourceModel\FeedProfile\Grid\Collection">
        <arguments>
            <argument name="mainTable" xsi:type="string">haerriz_google_shopping_feed_profile</argument>
            <argument name="eventPrefix" xsi:type="string">haerriz_googleshoppingfeed_profile_grid_collection</argument>
            <argument name="eventObject" xsi:type="string">profile_grid_collection</argument>
            <argument name="resourceModel" xsi:type="string">Haerriz\GoogleShoppingFeed\Model\ResourceModel\FeedProfile</argument>
        </arguments>
    </type>

    <type name="Haerriz\GoogleShoppingFeed\Model\ResourceModel\FeedJob\Grid\Collection">
        <arguments>
            <argument name="mainTable" xsi:type="string">haerriz_google_shopping_feed_job</argument>
            <argument name="eventPrefix" xsi:type="string">haerriz_googleshoppingfeed_job_grid_collection</argument>
            <argument name="eventObject" xsi:type="string">job_grid_collection</argument>
            <argument name="resourceModel" xsi:type="string">Haerriz\GoogleShoppingFeed\Model\ResourceModel\FeedJob</argument>
        </arguments>
    </type>

    <type name="Magento\Framework\Console\CommandList">
        <arguments>
            <argument name="commands" xsi:type="array">
                <item name="haerriz_feed_generate" xsi:type="object">Haerriz\GoogleShoppingFeed\Console\Command\GenerateFeed</item>
                <item name="haerriz_feed_validate" xsi:type="object">Haerriz\GoogleShoppingFeed\Console\Command\ValidateFeed</item>
            </argument>
        </arguments>
    </type>
</config>
