<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="haerriz_extensions" translate="label" sortOrder="200">
            <label>Haerriz Extensions</label>
        </tab>
        <section id="haerriz_googleshoppingfeed" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
            <class>separator-top</class>
            <label>Product Feed</label>
            <tab>haerriz_extensions</tab>
            <resource>Haerriz_GoogleShoppingFeed::config</resource>
            
            <group id="general" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>General Settings &amp; Cron</label>
                <field id="enable" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enable Module</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="cli_php_path" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>CLI PHP Executable Path</label>
                    <comment>Path to CLI PHP binary (e.g. /usr/bin/php)</comment>
                </field>
            </group>

            <group id="system_info" translate="label" type="text" sortOrder="100" showInDefault="1" showInWebsite="0" showInStore="0">
                <label>System Information &amp; Diagnostics</label>
                <field id="info" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
                    <frontend_model>Haerriz\GoogleShoppingFeed\Block\Adminhtml\System\Config\SystemInfo</frontend_model>
                </field>
            </group>
        </section>
    </system>
</config>
